body{
    margin:0;
    padding:20px;
    font-family:Arial,sans-serif;
    background:#f2f2f2;
    }

    .container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    }

    h2,h3{
    text-align:center;
    color:#1b8f3a;
    }

    input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    box-sizing:border-box;
    font-size:16px;
    }

    button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#1b8f3a;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    }

    button:hover{
    background:#157030;
    }

    #products div{
    border:1px solid #ddd;
    margin-top:10px;
    padding:10px;
    border-radius:8px;
    background:#fafafa;
    }
}